<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Parkist - Живая парковка в Москве</title>
  <meta name="description" content="Тяжело припарковаться в центре города? Паркист позаботится о Вашем автомобиле. Вы передаете и забираете машину в любом удобном Вам месте!" />
  <meta name="keywords" content="паркист, parkist, живая парковка, парковка в москве" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="{% static 'main/js/jquery-3.1.1.js' %}"></script>
  <script src="{% static 'main/js/jquery-ui.js' %}"></script>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="{% static 'main/js/collapse.js' %}"></script>
  <script src="{% static 'main/js/transition.js' %}"></script>
  <script src="{% static 'main/js/moment.js' %}"></script>
  <script src="{% static 'main/js/bootstrap-datetimepicker.ru.js' %}"></script>
  <script src="{% static 'main/js/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'main/js/circle.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/burger-menu.js' %}" type="text/javascript"></script>
  <link rel="shortcut icon" href="{% static 'main/css/img/favicon.ico' %}" type="image/x-icon">
  <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="{% static 'main/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"></script>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/burger-menu.css' %}">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-datetimepicker.css' %}">
  <meta name="mailru-domain" content="3e71CWd3hLMGIDj5" />
  <meta name='wmail-verification' content='6b91b413fef007b8723e55f9b21cbc0d' />
  <meta name="yandex-verification" content="75e7807aa7e4cccc" />
  <meta name="google-site-verification" content="VfdBuD7yNIMmlDcJJgiRFibDIczLCW7zqvIvdwlEX0I" />
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '509242749201700'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=509242749201700&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41839079 = new Ya.Metrika({
                    id:41839079,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41839079" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90776750-1', 'auto');
  ga('send', 'pageview');

</script>

    <div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <span class="mui--text-title">Parkist.ru</span>
      </div>
      <div class="mui-divider"></div>
      <ul>
        <li>
          <a href="#home">Главная</a>
        </li>
        <li>
          <a href="#how">Как это работает</a>
        </li>
        <li>
          <a href="#price">Цены</a>
        </li>
          <li>
          <a href="#order">Вызвать Паркиста</a>
        </li>
          <li>
          <a href="#callback">Обратный звонок</a>
        </li>
          <li>
          <a href="#contact">Контакты</a>
        </li>
      </ul>
    </div>

<header id="header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
            <div class="block-header-whole">
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-show-sidedrawer">☰</a>
          <div class="block-header-wrap">
    <div class="block-logo col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-5">
    <a href="/"><img src="{% static 'main/css/img/logo.png' %}" align="center" /></a>
    </div>
    <div class="block-contact col-md-4 col-sm-4 col-xs-9">
        <div class="phone">
        +7(495)506-76-18
        </div>
        <div class="call-back"><a href="#myModal" data-toggle="modal" >Обратный звонок</a></div>
    </div>
    </div>
        </div>
      </div>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
     <a name="home"></a>
    <div class="block-slide">
        <div class="block-slog col-md-4 col-md-offset-2 col-sm-6 col-xs-9">
        <h1 class="first">Живая Парковка</h1>
        <div class="second">в Москве</div>

        <div class="slog">Тяжело припарковаться в&nbsp;центре города?<br>
            Паркист позаботится о&nbsp;Вашем автомобиле.<br>
            Вы&nbsp;передаете и&nbsp;забираете машину<br>в&nbsp;любом удобном Вам месте!</div>
        <div class="block-button">
            <a href="/#order" class="button-orange">Вызвать Паркиста</a>
        </div>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row">
         <a name="order"></a>
        <div class="block-form col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="heading">
                <h2>Вызвать Паркиста</h2>
            </div>
<form action="/#order" role="form" id="contactForm" method="POST" onsubmit="fbq('track', 'Lead'); yaCounter41839079.reachGoal('order'); ga('send', 'event', 'orders', 'website', 'order'); return true;">

    {{ form.media }}
    {% csrf_token %}
    {% if success %}
    <div class="bg-success">
    {{ success }}
    </div>
    {% endif %}
    {{ form.non_field_errors }}
    <div class="form-group">
    <label for="form.current_point.id_for_label">Укажите адрес*</label>
    {% if form.current_point.errors %}
        <div class="bg-danger">
    {{ form.current_point.errors }}
        </div>
        {% endif %}
    {{ form.current_point }}
        <div class="help-map hidden-lg hidden-md hidden-sm">Масштабируйте и перемещайте карту двумя пальцами, перетащите флажок в место встречи</div>
  </div>
  <div class="form-group">
    <label for="form.current_date.id_for_label">Время и дата*</label>
      {% if form.current_date.errors %}
      <div class="bg-danger">
    {{ form.current_date.errors }}
     </div>
      {% endif %}
      {% if form.current_time.errors %}
      <div class="bg-danger">
    {{ form.current_time.errors }}
     </div>
      {% endif %}

      <div class="date-time">
          <div class="form-group">
        <div class='input-group time' id='datetimepicker3'>
            {{ form.current_time }}
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT',
                    showClose: true,
                    disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 23, 24],
                    useCurrent: false,
                });
            });
        </script>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker11'>
            {{ form.current_date }}
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
          <script type="text/javascript">
            $(function () {
                $('#datetimepicker11').datetimepicker({
                    daysOfWeekDisabled: [0,6],
                    format: 'DD.MM.YYYY',
                    locale: 'ru',
                    showClose: true,
                    minDate: moment.now(),
                });
            });
        </script>
      </div>
  </div>
    <div class="form-group">
    <label for="form.phone4.id_for_label">Телефон*</label>
    {% if form.phone4.errors %}
        <div class="bg-danger">
    {{ form.phone4.errors }}
        </div>
    {% endif %}
    {{ form.phone4 }}
    </div>
    <div class="form-group">
    <label for="form.promo.id_for_label">Промокод (если есть)</label>
    {% if form.promo.errors %}
        <div class="bg-danger">
    {{ form.promo.errors }}
        </div>
    {% endif %}
    {{ form.promo }}
    </div>
    <div class="form-group block-button block-center"><input type="submit" name="submit3" class="button-orange" value="Вызвать Паркиста" /></div>

</form>

        </div>
    </div>
</div>
    <div class="container-fluid">
    <div class="row">
        <div class="block-pictures col-md-12 col-sm-12 col-xs-12">
            <div class="block-img col-md-2 col-md-offset-2  col-sm-3 col-xs-6">
                <div class="img-square"><img  src="{% static 'main/css/img/icon1.png' %}" align="center" /></div>
                <p>Забираем автомобиль<br> в&nbsp;течение 15&nbsp;минут</p>
            </div>
            <div class="block-img col-md-2 col-sm-3 col-xs-6">
                <div class="img-square"><img  src="{% static 'main/css/img/icon2.png' %}" align="center" /></div>
                <p>Понедельник - пятница<br>с&nbsp;12:00 до&nbsp;22:00</p>
            </div>
            <div class="block-img col-md-2 col-sm-3 col-xs-6">
                <div class="img-square"><img  src="{% static 'main/css/img/icon3.png' %}" align="center" /></div>
                <p>Водители<br>со&nbsp;стажем</p>
            </div>
            <div class="block-img col-md-2 col-sm-3 col-xs-6">
                <div class="img-square"><img  src="{% static 'main/css/img/icon4.png' %}" align="center" /></div>
                <p>Страховка<br>на&nbsp;10&nbsp;млн. рублей</p>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <a name="how"></a>
        <div class="block-how col-md-12 col-sm-12 col-xs-12">
            <div id="triangle-down"></div>
            <div class="heading">
                    <h2>Как это работает?</h2>
            </div>
<div class="block-how-son">
            <div class="block-how-img col-md-4 col-md-offset-2">
                <img class="img-responsive" src="{% static 'main/css/img/map4.png' %}" />
            </div>
            <div class="block-how-text col-md-4">
                <div class="one-icon"><img src="{% static 'main/css/img/one.png' %}" /></div>
                <p>Укажите место в&nbsp;центре города,<br> где Паркист встретит Вас<br> и&nbsp;примет автомобиль</p>
            </div>

         </div>

        </div>
        </div></div>

    <div class="container-fluid">
    <div class="row">
        <div class="block-how2 col-md-12 col-sm-12 col-xs-12">
            <div class="block-how-son2">
            <div class="block-how-text col-md-4 col-md-offset-2">
                <div class="one-icon"><img src="{% static 'main/css/img/two.png' %}" /></div>
                <p>Паркист все время с&nbsp;автомобилем,<br> и&nbsp;Вы можете видеть его местоположение</p>
            </div>
            <div class="block-how-img col-md-4">
                <img class="img-responsive" src="{% static 'main/css/img/map5.png' %}" />
            </div>
            </div>

         </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="block-how col-md-12 col-sm-12 col-xs-12">
<div class="block-how-son">
            <div class="block-how-img col-md-4 col-md-offset-2">
                <img class="img-responsive" src="{% static 'main/css/img/map6.png' %}" />
            </div>
            <div class="block-how-text col-md-4">
                <div class="one-icon"><img src="{% static 'main/css/img/three.png' %}" /></div>
                <p>Когда Вы&nbsp;будете готовы,<br> Паркист подаст автомобиль ко&nbsp;входу<br> в&nbsp;течение 2&nbsp;минут
            </div>
            </div>
         </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <a name="price"></a>
        <div class="block-price col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">

            <div class="heading">
                    <h2>Сколько стоит Живая Парковка?</h2>
            </div>

            <div class="block-price-small">
                390 <span class="rub">Р</span><br>
                <span>за первый час</span>
            </div>

            <p>+7 <span class="rub-small">Р</span> в  минуту<br><span>со второго часа</span></p>

        <div class="block-button">
            <a href="#order" class="button-orange">Вызвать Паркиста</a>
        </div>

         </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="block-features col-md-12 col-sm-12 col-xs-12">
            <div class="block-how-son">
            <div class="block-features-text col-md-3 col-md-offset-2">
                <h3>Проверенные Паркисты</h3>
                <p>Все паркисты&nbsp;&mdash; профессиональные водители.<br>Прошли строгий отбор и&nbsp;проверку<br> службы безопасности.<br> Мы&nbsp;уделяем этому особое внимание
                    </p>
            </div>
            <div class="block-features-img col-md-4">
                <img class="img-responsive" src="{% static 'main/css/img/parkist.png' %}" />
            </div>
            </div>

         </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="block-features2 col-md-12 col-sm-12 col-xs-12">
            <div class="block-how-son2">
            <div class="block-features-img col-md-4 col-md-offset-2">
                <img class="img-responsive" src="{% static 'main/css/img/safety.png' %}" />
            </div>

            <div class="block-features-text col-md-4">
                <h3>Безопасность</h3>
                <p>Мы&nbsp;разработали систему защиты<br>секретными кодами при передаче<br> автомобиля и&nbsp;застраховали каждую<br> машину от&nbsp;ущерба на&nbsp;сумму<br>до&nbsp;10&nbsp;млн рублей.
                    </p>
            </div>
            </div>

         </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="services col-md-12 col-sm-12 col-xs-12">
            <div class="heading2">
                <h2>Дополнительные услуги</h2>
            </div>
            <div class="services1 col-md-4 col-md-offset-2 col-sm-6 col-xs-6">
                <img src="{% static 'main/css/img/icon5.png' %}" />
            <p class="black-text">Автомойка</p>
            </div>
            <div class="services2 col-md-4 col-sm-6 col-xs-6">
                <img src="{% static 'main/css/img/icon6.png' %}" />
            <p class="white-text">Заправка топливом</p>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="block-sharing col-md-12 col-sm-12 col-xs-12">
            <div id="triangle-down"></div>
            <div class="heading3">
                <h2>Расскажите о нас всему Миру!</h2>
            </div>
<div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,blogger,evernote,linkedin,viber,whatsapp,skype,telegram"></div>

          </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <a name="callback"></a>
        <div class="block-form col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">

            <div class="heading">
                <h2>Остались вопросы?</h2>
            </div>
            <div class="pre-text">
            Позвоните по телефону<br><span>+7 (495) 506-76-18</span><br>или заполните форму ниже и&nbsp;мы&nbsp;перезвоним Вам в&nbsp;течение 5&nbsp;минут!

            </div>
            {% include "main/form_snippet.html" with form=form2 method='POST' action="/#callback" %}
        </div>
    </div>
</div>
    <div class="container-fluid">
    <div class="row">
        <a name="contact"></a>
        <div class="block-map col-md-12 col-sm-12 col-xs-12">
            <div id="map" style="height: 100%;"></div>


            <div class="block-table col-md-4 col-md-offset-8 col-sm-5 col-sm-offset-6 col-xs-12">
                <h3>Зона Живой Парковки</h3>
                <p>Время работы:<br>
                <strong>Понедельник - пятница</strong><br>
                <span>12:00 - 22:00</span></p>
                <div class="block-button">
                    <a href="#order" class="button-orange">Вызвать Паркиста</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
      <div class="container-fluid">
    <div class="row">
      <!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://vanabo.typeform.com/to/JhgF22" data-text="Опрос" style="width:100%;height:350px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
    <footer id="footer">
      <div class="mui-container-fluid">
      <div class="block-footer col-md-12 col-sm-12 col-xs-12">
        <div class="footer-block1 col-md-4"><img src="{% static 'main/css/img/logo.png' %}" /></div>
        <div class="footer-block2 col-md-4">
            <div class="social-icon"><a href="https://vk.com/parkist"><img src="{% static 'main/css/img/vk.png' %}"/></a></div>
            <div class="social-icon"><a href="https://ok.ru/group/53121181810837"><img src="{% static 'main/css/img/ok.png' %}"/></a></div>
            <div class="social-icon"><a href="https://facebook.com/parkist.ru"><img src="{% static 'main/css/img/fb.png' %}"/></a></div>
            <div class="social-icon"><a href="https://instagram.com/parkist.ru"><img src="{% static 'main/css/img/in.png' %}"/></a></div>
            <div class="social-icon"><a href="https://twitter.com/PARKISTRU"><img src="{% static 'main/css/img/tw.png' %}"/></a></div>
        </div>
          <div class="footer-block3 col-md-4">+7 (495) 506-76-18<br><span><a href="mailto:info@parkist.ru">info@parkist.ru</a></span><br><a class="work-footer" href="/become-parkist">Стать Паркистом</a></a></div>
        </div>
        <div class="block-footer2 col-md-12 col-sm-12 col-xs-12">
            <a href="legal/termsofuse">Пользовательское соглашение</a>
        </div>
      </div>
    </footer>
    </div>
    </div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Обратный звонок</h3>
      </div>
      <div class="modal-body">
        {% include "main/form_snippet.html" with form=form2 method='POST' action="/#home" %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</body>
</html>
