<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Parkist - Живая парковка в Москве</title>
  <meta name="description" content="Тяжело припарковаться в центре города? Паркист позаботится о Вашем автомобиле. Вы передаете и забираете машину в любом удобном Вам месте!" />
  <meta name="keywords" content="паркист, parkist, живая парковка, парковка в москве" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="{% static 'main/js/jquery-3.1.1.js' %}"></script>
  <script src="{% static 'main/js/jquery-ui.js' %}"></script>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="{% static 'main/js/collapse.js' %}"></script>
  <script src="{% static 'main/js/transition.js' %}"></script>
  <script src="{% static 'main/js/moment.js' %}"></script>
  <script src="{% static 'main/js/bootstrap-datetimepicker.ru.js' %}"></script>
  <script src="{% static 'main/js/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'main/js/circle.js' %}" type="text/javascript"></script>
  <script src="{% static 'main/js/burger-menu.js' %}" type="text/javascript"></script>
  <link rel="shortcut icon" href="{% static 'main/css/img/favicon.ico' %}" type="image/x-icon">
  <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="{% static 'main/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"></script>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/burger-menu.css' %}">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-datetimepicker.css' %}">
  <meta name="mailru-domain" content="3e71CWd3hLMGIDj5" />
  <meta name='wmail-verification' content='6b91b413fef007b8723e55f9b21cbc0d' />
  <meta name="yandex-verification" content="75e7807aa7e4cccc" />
  <meta name="google-site-verification" content="VfdBuD7yNIMmlDcJJgiRFibDIczLCW7zqvIvdwlEX0I" />
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '509242749201700'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=509242749201700&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41839079 = new Ya.Metrika({
                    id:41839079,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41839079" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90776750-1', 'auto');
  ga('send', 'pageview');

</script>

<header id="header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
            <div class="block-header-whole">
          <div class="block-header-wrap">
    <div class="block-logo col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
    <a href="/"><img src="{% static 'main/css/img/logo.png' %}" align="center" /></a>
    </div>
    </div>
        </div>
      </div>
      </div>
    </header>

    <div id="content-wrapper">
        <div class="block-term">
        <h1>Условия использования сервиса Паркист</h1>
        <h3>1. Общие положения</h3>
            <p><strong>1.1.</strong> Настоящие Условия (далее – Условия) представляют собой предложение ООО «Паркист» (далее
— «Паркист») пользователю сети Интернет (далее — Пользователь) — использовать сервис Паркист
    (далее — «Сервис»).</p>
            <p><strong>1.2.</strong> Использование Пользователем Сервиса регулируется настоящими Условиями.</p>
            <p><strong>1.3.</strong> Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим
настоящие Условия, а также условия Регулирующих документов, в полном объеме, без всяких
оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Условий
и/или Регулирующих документов, Пользователь не вправе использовать Сервис.</p>
            <p><strong>1.4.</strong> Паркист вправе в любое время без уведомления Пользователя изменить положения настоящих
Условий. Действующая редакция настоящих Условий размещаются по адресу:
https://parkist.ru/legal/termsofuse/. Риск неознакомления с новой редакцией Условий и
Регулирующих документов несет Пользователь, продолжение пользования Сервисом после
изменения Условий или Регулирующих документов считается согласием с их новой редакцией.
            <p><strong>1.5.</strong> В случае если Паркистом были внесены какие-либо изменения в настоящие Условия, в порядке,
предусмотренном п. 1.4. настоящих Условий, с которыми Пользователь не согласен, он обязан
прекратить использование Сервиса.</p>
            <p><strong>1.6.</strong> Сервис предлагает Пользователю бесплатную возможность разместить информацию о
потенциальном спросе Пользователя на услуги водителей, а также возможность ознакомиться с
информацией о предложениях организаций, оказывающих услуги в указанной сфере и осуществить
поиск таких предложений по заданным Пользователем параметрам. Все существующие на данный
момент функции Сервиса, а также любое развитие их и/или добавление новых является предметом
настоящих Условий.</p>
            <p><strong>1.7.</strong> В зависимости от региона Пользователя все или некоторые функции Сервиса могут быть
недоступны или ограничены. Функции считаются недоступными (ограниченными) для Пользователя
из определенного региона, если такой Пользователь не может ими воспользоваться в явном виде.
Применение любых технических и программных методов обхода данных ограничений запрещено.
Положения настоящих Условий, регулирующие недоступные (ограниченные) для Пользователя
функции Сервиса, не применяются до тех пор, пока Пользователю такие функции не станут доступны
в явном виде. Информация о доступности функций Сервиса в определенном регионе
предоставляется Пользователю по его запросу, направленному в Паркист.</p>
<h3>2. Использование Сервиса. Отдельные функции Сервиса</h3>
            <p><strong>2.1.</strong> Сервис предоставляется Пользователю для личного некоммерческого использования.</p>
            <p><strong>2.2.</strong> Информация об услугах водителей (далее — Информация), предоставлена партнерами Сервиса.
Для получения более подробной информации о предлагаемых услугах Пользователь может либо
обратиться к партнерам Сервиса, либо, используя функциональность Сервиса, предоставить свои
контактные данные, по которым партнеры Сервиса смогут самостоятельно связаться с Пользователем
и предоставить ему информацию о предлагаемых услугах.</p>
            <p><strong>2.3.</strong> Паркист не несет ответственности за содержание и/или актуальность информации,
предоставляемой партнерами Сервиса, включая информацию о стоимости услуг партнеров, а также
об их наличии в данный момент. Взаимодействие Пользователя с партнерами по вопросам
приобретения услуг осуществляется Пользователем самостоятельно (без участия Паркист) в
соответствии с принятыми у партнеров правилами оказания услуг. Паркист не несет ответственности
за финансовые и любые другие операции, совершаемые Пользователем и партнерами, а также за
любые последствия приобретения Пользователем услуг партнеров.</p>
            <p><strong>2.4.</strong> Пользователю могут быть доступны функции оценки услуг партнеров Сервиса, а также
размещение комментариев/отзывов о Сервисе и/или услугах партнеров Сервиса. Оценки и отзывы
пользователей размещаются на сайте Сервиса, а также могут быть доступны на сайтах третьих лиц.
Паркист оставляет за собой право отказать в размещении любых оценки/отзыва, а также в любой
момент удалить/заблокировать размещенные Пользователем оценку/отзыв по своему усмотрению и
без указания причин.</p>
            <p><strong>2.5.</strong> Паркист оставляет за собой право на свое усмотрение ограничить доступ Пользователя к Сервису
(или к определенным функциям Сервиса, если это возможно технологически) с использованием его
учетной записи или полностью заблокировать учетную запись Пользователя при неоднократном
нарушении настоящих Условий, либо применить к Пользователю иные меры с целью соблюдения
требований законодательства или прав и законных интересов третьих лиц.</p>
            <p><strong>2.6.</strong> В периоды времени повышенного спроса на услуги водителей (в том числе, в предпраздничные
дни, в дни проведения массовых мероприятий и в иных случаях) тарифы Сервиса могут быть
увеличены. Об увеличении тарифов Паркист сообщает путем размещения соответствующего
уведомления на сайте Сервиса http://parkist.ru или иными способами по усмотрению Паркист,
включая отправку Пользователю информационного сообщения на номер мобильного телефона.</p>
            <p><strong>2.7.</strong> Услуги водителей по представленным на Сервисе тарифам осуществляются разными партнерами.
Отнесение партнера Сервиса к тому или иному классу осуществляет Паркист самостоятельно на
основании данных о характеристиках услуг, предоставленных партнерами Сервиса.</p>
            <p><strong>2.8.</strong> Служба водителей взимает плату за отказ Пользователя от услуг, если такой отказ произошел
после прибытия партнера Паркиста в назначенное Пользователем место. Размер такой платы
рассчитывается аналогично стоимости услуг по тарифу за период времени с момента фактического
прибытия партнера Паркиста назначенное место или с момента, указанного в предоставленной
Пользователю информации от службы водителей в отношении заказанной Пользователем услуги (в
зависимости от того, что наступило позднее), до момента отказа Пользователя от услуги.
Пользователь совершает отказ от услуги посредством направления соответствующего уведомления
службе водителей посредством Сервиса. Пользователь, не воспользовавшийся услугой в течение
времени максимального ожидания, указанного в соответствующем тарифе, считается отказавшимся
от услуги, если иное не предусмотрено правилами соответствующей службы водителей.</p>
            <p><strong>2.9.</strong> Пользователь дает Паркист согласие на обработку персональной информации (включая
персональные данные) Пользователя Паркист, на передачу Паркист персональной информации
Пользователя партнерам Паркист, а также на обработку персональной информации партнерам
Паркист для целей оказания Пользователю услуг в рамках Сервиса. При использовании
Пользователем Сервиса персональная информация Пользователя передается в Паркист для
обработки на условиях и для целей, определённых в Политике конфиденциальности Паркист.</p>
<h3>3. Функция безналичной оплаты услуги водителей</h3>
            <p><strong>3.1.</strong> Оплата услуги водителей, оказанная Пользователю в соответствии размещенной им с
использованием Сервиса информацией о потенциальном спросе на соответствующую услугу, может
быть произведена Пользователем:</p>
            <p><strong>3.1.1.</strong> Непосредственно службе водителей (в том числе наличными или иными способами,
предоставляемыми указанной службой водителей при наличии таковых, далее по тексту настоящих
Условий и в интерфейсе Сервиса – «Наличные»). Указанный вид оплаты осуществляется без участия
Паркист и не регулируется настоящими Условиями.</p>
            <p><strong>3.1.2.</strong> Пользователю может быть доступна функция безналичной оплаты с Привязанной банковской
карты (п. 3.2 настоящих Условий); в этом случае Паркист действует по поручению соответствующей
службы водителей с привлечением уполномоченного оператора по приему платежей или оператора
электронных денежных средств и является получателем платежа в качестве агента службы водителей
(далее – «безналичная оплата»). Паркист не гарантирует отсутствия ошибок и сбоев в работе Сервиса
в отношении предоставления возможности безналичной оплаты.</p>
<p>Выбор соответствующей формы оплаты производится Пользователем в интерфейсе Сервиса. При
этом при невозможности по любым причинам произвести безналичную оплату (включая, но не
ограничиваясь, временная техническая недоступность данной функции, временная или постоянная
невозможность безналичной оплаты с использованием Привязанной карты, недостаточность средств
на Привязанной карте) Пользователь обязуется произвести оплату Наличными.</p>
<p>При безналичной оплате по усмотрению Паркист возможно проведение как одной транзакции на
полную стоимость услуги водителей, так и нескольких транзакций на отдельные части стоимости
услуги. При этом безналичная оплата может быть произведена любым из указанных способов во
время поездки, либо по ее завершении.</p>
<p>При безналичной оплате наряду с оплатой услуги водителей Пользователь имеет возможность по
своему усмотрению совершить также дополнительный безналичный платеж в пользу службы
водителей в процентном отношении от стоимости оплачиваемой услуги водителей (далее по тексту
настоящих Условий и в интерфейсе Сервиса – «Чаевые»).</p>
            <p><strong>3.2.</strong> Привязанная банковская карта может указываться Пользователем в интерфейсе Сервиса, при
этом Пользователь указывает следующие данные:
        <ul class="left-margin"><li>Номер банковской карты</li>
 <li>Действительна до</li>
        <li>Защитный код</li></ul></p>
<p>Если данные банковской карты верны, действительны и использование данной карты в рамках
Сервиса технически возможно, указанная банковская карта приобретает статус Привязанной и может
быть использована для безналичной оплаты (п. 3.1.2 настоящих Условий). Все Привязанные карты
отображаются в интерфейсе Сервиса; для удобства Пользователя в отношении Привязанной карты
отображаются 4 последние цифры номера Привязанной карты, что не противоречит п. 3.8 настоящих
Условий.</p>
            <p><strong>3.2.1.</strong> Привязанная карта может также указываться Пользователем в интерфейсе сервисов третьих
лиц, поддерживающих интеграцию с Сервисом и участниками расчетов, и обеспечивающих
авторизацию платежа Пользователя без передачи информации о Привязанной карте в Паркист. В
этом случае положения пунктов 3.2 и 3.3 настоящих Условий не применяются.</p>
<p>Порядок использования сервисов третьих лиц, указанных в настоящем пункте, регулируется
правилами таких третьих лиц. Паркист не несет ответственности за использование Пользователем
таких сервисов третьих лиц и не гарантирует корректность и безопасность работы таких сервисов
третьих лиц.</p>
            <p><strong>3.3.</strong> При добавлении Привязанной карты, а также в случае выбора Пользователем функции
безналичной оплаты конкретной оказания услугиосуществляется списание суммы в пределах 5
рублей, необходимое для подтверждения точности и действительности данных Привязанной карты; в
случае успешного прохождения транзакции указанная сумма возвращается Пользователю.
<p>Неуспешная попытка списания указанной суммы означает невозможность добавления данной
Привязанной карты и/или недоступность функции безналичной оплаты соответственно.</p>
            <p><strong>3.4.</strong> При добавлении Привязанной карты, а также в любое время после её добавления Пользователь
имеет возможность через интерфейс Сервиса установить и/или изменить размер Чаевых по
умолчанию; размер Чаевых для конкретной услуги может быть изменен Пользователем в интерфейсе
Сервиса после завершения оказания этой услуги.</p>
            <p><strong>3.5.</strong> Чаевые (в размере по умолчанию или в размере, специально указанном Пользователем для
конкретной услуги) будут списаны с Привязанной карты, если Пользователь в течение 30 минут после
завершения оказания услуги указал в интерфейсе Сервиса положительную оценку оказания услуги (4-
5 звезд) и нажал на кнопку «Готово» либо не указал ни положительную, ни отрицательную оценку
оказания услуги (не указал количество звезд) и нажал на кнопку «Готово».</p>
            <p><strong>3.6.</strong> В случае, если Пользователь в течение 30 минут после завершения оказания услуги указал в
интерфейсе Сервиса отрицательную оценку оказания услуги (1-3 звезды) и нажал на кнопку «Готово»,
Чаевые не будут списаны с Привязанной карты.</p>
            <p><strong>3.7.</strong> В случае, если Пользователь в течение 30 минут после завершения оказания услуги не нажал на
кнопку «Готово», сумма Чаевых (в размере по умолчанию или в размере, специально указанном
пользователем для конкретной услуги) будет заблокированная на Привязанной карте на срок 24 часа,
в течение которых Пользователь имеет возможность изменить размер Чаевых для данной оказания
услугив большую или меньшую сторону. По истечении указанного времени происходит списание
Чаевых в указанном Пользователем (по умолчанию или для данной конкретной услуги) размере.</p>
            <p><strong>3.8.</strong> Паркист не имеет доступа к указанным Пользователем данным банковской карты и не несет
ответственности за сохранность и конфиденциальность передаваемых данных при проведении
безналичной оплаты. Безналичная оплата осуществляется Пользователем с участием
уполномоченного оператора по приему платежей или оператора электронных денежных средств и
регулируется правилами международных платежных систем, банков (в том числе банка-эмитента
Привязанной карты) и других участников расчетов.</p>
            <p><strong>3.9.</strong> При указании своих данных согласно п. 3.2 настоящих Условий и дальнейшем использовании
Привязанной карты Пользователь подтверждает и гарантирует указание им достоверной и полной
информации о действительной банковской карте, выданной на его имя; соблюдение им правил
международных платежных систем и требований банка-эмитента, выпустившего Привязанную карту,
в том числе в отношении порядка проведения безналичных расчетов.</p>
            <p><strong>3.10.</strong> Пользователь понимает и соглашается, что все действия, совершенные в рамках Сервиса с
использованием подтвержденного им номера мобильного телефона, в том числе по безналичной
оплате с использованием Привязанной банковской карты, считаются совершенными Пользователем.</p>
            <p><strong>3.11.</strong> В случае несогласия Пользователя с фактом и/или суммой безналичной оплаты и по иным
связанным с использованием Привязанной карты в рамках Сервиса вопросам Пользователь вправе
обратиться к Паркист по указанным Сервисом телефонам и/или через интерфейс службы поддержки
(обратной связи) в течение 14 дней со дня произведения безналичной оплаты или иных действий или
событий, послуживших причиной обращения.</p>
<p>В случае если по результатам проверки по такому обращению Паркист принимает решение о
возврате суммы безналичной оплаты полностью или частично, указанный возврат осуществляется на
банковский счет банковской карты, с которой была произведена безналичная оплата. Порядок
возврата денежных средств осуществляется с участием уполномоченного оператора по приему
платежей или оператора электронных денежных средств и регулируется правилами международных
платежных систем, банков (в том числе банка-эмитента Привязанной карты) и других участников
расчетов.</p>
            <p><strong>3.12.</strong> Паркист оставляет за собой право в любой момент потребовать от Пользователя подтверждения
данных, указанных им в рамках Сервиса, в том числе данных Привязанной карты, и запросить в связи
с этим подтверждающие документы (в частности, документы, удостоверяющие личность),
непредоставление которых, по усмотрению Паркист, может быть приравнено к предоставлению
недостоверной информации и повлечь последствия, предусмотренные п. 2.5 настоящих Условий.
<p><strong>ООО «Паркист»</strong></p>
        <p>Дата публикации 06.02.2017 г.</p>
    </div>
        </div>
    <div class="container-fluid">
    <div class="row">
    <footer id="footer">
      <div class="mui-container-fluid">
      <div class="block-footer col-md-12 col-sm-12 col-xs-12">
        <div class="footer-block1 col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1"><img src="{% static 'main/css/img/logo.png' %}" />

        </div>
        <div class="footer-block2 col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1">
            <div class="social-icon"><a href="https://vk.com/parkist"><img src="{% static 'main/css/img/vk.png' %}"/></a></div>
            <div class="social-icon"><a href="https://ok.ru/group/53121181810837"><img src="{% static 'main/css/img/ok.png' %}"/></a></div>
            <div class="social-icon"><a href="https://facebook.com/parkist.ru"><img src="{% static 'main/css/img/fb.png' %}"/></a></div>
            <div class="social-icon"><a href="https://instagram.com/parkist.ru"><img src="{% static 'main/css/img/in.png' %}"/></a></div>
            <div class="social-icon"><a href="https://twitter.com/PARKISTRU"><img src="{% static 'main/css/img/tw.png' %}"/></a></div>
        </div>
          <div class="footer-block3 col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1">+7 (495) 506-76-18<br><span><a href="mailto:info@parkist.ru">info@parkist.ru</a></span><br><a class="work-footer" href="/become-parkist">Стать Паркистом</a></a>


              </div></div>
          <div class="footer-links col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
              <a href="/faq">Вопросы и ответы</a><br>
              <a href="/for-business">Паркист для Бизнеса</a><br>
              <a href="/legal/termsofuse">Пользовательское соглашение</a>
          </div>

        <div class="block-footer2 col-md-12 col-sm-12 col-xs-12">

        </div>
      </div>
    </footer>
    </div>
    </div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Обратный звонок</h3>
      </div>
      <div class="modal-body">
        {% include "main/form_snippet.html" with form=form2 method='POST' action="/#home" %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</body>
</html>